/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
  scroll-behavior: smooth;
}
body {
  position: relative;
  background-color: #f5f5f5;
  min-height: 100vh;
  min-height: 100dvh;
}
.dots {
  position: absolute;
  inset: 0;
  background-image: radial-gradient(ellipse, rgba(128, 128, 128, 0.5) 0.5px, transparent 1px);
  background-size: 20px 20px;
  z-index: -1;
}

@layer components {
  .form-global {
    @apply flex flex-col px-7 mb-5 py-2 w-full;
  }
  .input-global {
    @apply px-3
    py-2
    my-3
    bg-[#f5f5f5]
    rounded-lg
    border
    border-black/10
    text-sm;
  }
  .label-global {
    @apply px-2
    font-semibold;
  }
  .error-global {
    @apply mb-2
    text-sm
    text-red-500
    font-semibold
    tracking-wide
    leading-tight
    w-full
    px-2;
  }

  .btn-global {
    @apply bg-[#0F2A4A] text-white mt-3 w-full px-4 
        py-2
        font-semibold
        rounded-3xl
        transition-all
        duration-200
        hover:scale-[1.02]
        cursor-pointer
        flex
        justify-center;
  }

  .btnLanding {
    @apply px-4 
        py-2
        font-semibold
        rounded-3xl
        transition-all
        duration-200
        hover:scale-[1.02]
        cursor-pointer;
  }

  .link-color-global {
    @apply text-blue-500;
  }

  .sub-headline-color {
    @apply text-[#64748B] my-3 text-sm;
  }
}

.lines::after,
.lines::before {
  content: '';
  margin-top: 3px;
  height: 1px;
  width: 100%;
  line-height: 1;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
}

.snackbar-success .mdc-snackbar__surface {
  background-color: rgba(0, 255, 0, 0.1) !important;
  color: white; /* text color */
}

.snackbar-error .mdc-snackbar__surface {
  background-color: rgba(255, 0, 0, 0.1) !important;
  color: white;
}

.snackbar-success .mat-mdc-snack-bar-label {
  color: green !important; /* message text color */
}

.snackbar-error .mat-mdc-snack-bar-label {
  color: red !important;
}

.snackbar-success .mat-mdc-snack-bar-action:hover {
  background-color: rgba(255, 255, 255, 0.5) !important;
  color: green !important; /* keep text visible */
  border-radius: 5px;
}

.snackbar-error .mat-mdc-snack-bar-action:hover {
  background-color: rgba(255, 255, 255, 0.5) !important;
  color: red !important; /* keep text visible */
  border-radius: 5px;
}

.snackbar-success .mat-mdc-snack-bar-action .mat-mdc-button-persistent-ripple,
.snackbar-error .mat-mdc-snack-bar-action .mat-mdc-button-persistent-ripple {
  display: none;
}
